
.body{
 background-color: rgb(209, 235, 235);
}
.baseClass{
    background-color: white;
    height: 3.5in;
    width: 7in;
    margin: 38px 10px 10px 360px ;
    border-radius: 0.2in;
    align-items:flex-start;
    
}
label{
    font-size: .3in;
}
#billInput{
    border-color: teal;
    fill: turquoise;
    margin: 10px 10px -s20px 10px;
    
    
}
.resultpane{
    background-color: rgb(9, 72, 77);
    margin: -290px 15px 10px 320px;
    height: 3in;
    border-radius: 10px;
    position: fixed;
}
.icon1 {
    background:#FFFFFF url(icon-dollar.svg) no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    height:18px;
}
.icon2 {
    background:#FFFFFF url(icon-person.svg) no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    height:18px;
}